@font-face {
    font-family: 'FuenteNavidad';
    src: url('fonts/Christmas\ Bell\ -\ Personal\ Use.otf') format('opentype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'FuenteNavidad', sans-serif;
}

body > * {
    display: block;
}

.enunciado, .enunciado *{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
.enunciado {
    margin: 5vh 5vw;
}
.enunciado ul {
    margin-left: 2vw;
}

.postal {
    margin: 5vh 5vw;
    width: 1500px;
    height: 900px;
    position: relative;
}

.postal .marco {
    position: absolute;
    width: 1500px;
    height: 900px;
}

aside {
    position: absolute;
    right: 0;
    background-color: rgb(36, 59, 137);
    height: 100%;
    width: 20%;
    color: whitesmoke;
    font-family: 'FuenteNavidad';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

aside div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

aside div h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
}

aside div h3 {
    font-size: 2rem;
    margin-top: 2vh;
    text-align: center;
}

main {
    position: absolute;
    height: 100%;
    width: 80%;
}

main * {
    position: absolute;
}

.fondo {
    height: 100%;
}

.nube {
    width: 45%;
    left: 15%;
    top: 10%;
}

.delibird{
    left: 35%;
    top: 7%;
    z-index: 1;
    transition: all 5s;
}

.copos {
    /* border: 2px solid red; */
    width: 45%;
    height: 25%;
    left: 15%;
    top: 10%;
}
.copo {
    width: 12.5%;
}

.copos .copo:nth-of-type(1){
    left: 15%;
    top: 50%;
    opacity: 0;
}
.copos .copo:nth-of-type(2){
    left: 40%;
    top: 15%;
    opacity: 0;
}
.copos .copo:nth-of-type(3){
    left: 55%;
    top: 55%;
    opacity: 0;
}
.copos .copo:nth-of-type(4){
    left: 80%;
    top: 45%;
    opacity: 0;
}

.pino {
    height: 50%;
    bottom: 10%;
    right: 15%;
}

.estrella {
    /* border: 2px solid red; */
    width: 8%;
    bottom: 57%;
    right: 29%;
    transition: all 2s;
    transition-delay: 0.5s;
}

.bolas {
    width: 29%;
    height: 40%;
    right: 18%;
    bottom: 18%;
}

.bola {
    width: 15%;
}

.bolas .bola:nth-of-type(1){
    bottom: 5%;
    right: 15%;
    /*transition: all 1s;*/
}
.bolas .bola:nth-of-type(2){
    bottom: 10%;
    right: 70%;
    /*transition: all 1s;*/
}
.bolas .bola:nth-of-type(3){
    bottom: 18%;
    right: 36%;
    /*transition: all 1s;*/
}
.bolas .bola:nth-of-type(4){
    bottom: 35%;
    right: 60%;
    /*transition: all 1s;*/
}
.bolas .bola:nth-of-type(5){
    bottom: 50%;
    right: 35%;
    /*transition: all 1s;*/
}
.bolas .bola:nth-of-type(6){
    bottom: 70%;
    right: 50%;
    /*transition: all 1s;*/
}

.regalos {
    /* border: 2px solid red; */
    width: 12%;
    height: 15%;
    bottom: 13%;
    left: 35%;
}

.regalos .regalo:nth-of-type(1) {
    bottom: 0%;
    left: 5%;
    width: 90%;
}
.regalos .regalo:nth-of-type(2) {
    width: 100%;
    transition: all 1s;
}

.contenido {
    left: -15%;
    width: 100%;
    opacity: 0;
    transition: all 1s;
}

.santa {
    width: 30%;
    height: 40%;
    top: 50%;
    left: 2%;
}

.santa .papa_noel, .santa .destellos {
    width: auto;
    height: 100%;
}
.santa .hohoho {
    left: 75%;
    top: -10%;
    width: 50%;
    height: auto;
    opacity: 0;
}

.santa h1 {
    top: 95%;
    left: 33%;
    color: rgb(36, 59, 137);
}
audio {
    display: none;
}

.copos:hover .copo:nth-of-type(1),
.copos:hover .copo:nth-of-type(2),
.copos:hover .copo:nth-of-type(3),
.copos:hover .copo:nth-of-type(4){
    transform: translateY(500px);
    opacity: 1;
    transition: transform 10s, opacity 5s;
}

.estrella:hover{
    transform: translate(300px, -150px);
    scale: 0.5;
}

.bolas:hover .bola:nth-of-type(1){
    transform: rotate(-360deg);
    transition: 1s;
}

.bolas:hover .bola:nth-of-type(2){
    transform: rotate(360deg);
    transition: 1s;
}

.bolas:hover .bola:nth-of-type(3){
    transform: rotate(-360deg);
    transition: 1s;
}

.bolas:hover .bola:nth-of-type(4){
    transform: rotate(360deg);
    transition: 1s;
}

.bolas:hover .bola:nth-of-type(5){
    transform: rotate(-360deg);
    transition: 1s;
}

.bolas:hover .bola:nth-of-type(6){
    transform: rotate(360deg);
    transition: 1s;
}

.regalos:hover .regalo:nth-of-type(2){
    transform:translate(100px, -100px)
}

.regalos:hover .contenido{
    opacity: 1;
    transform: translateY(-80px);
}

.delibird:hover{
    transform: translateY(550px) rotate(180deg) scale(2.5);
}

.hoho .hohoho{
    opacity: 1;
    transition: all 2s;
}

.hoho .destellos{
    transform: rotate(360deg) scale(1.2);
    transition: all 2s;
}