header{
    background-image: url(imagenes/fondo.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header h1{
    color: orange;
    font-size: 48px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FFD006;
    display: flex;
    justify-content: center; /* Centra el menú */
}